
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}

<h2>Password Reset</h2>
<p>If an account with that email exists, a password reset link has been sent.</p>
<p>Please check your email and follow the instructions to reset your password.</p>
<a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
