
@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}
<p>Enter your email address below to receive a password reset link.</p>

<form asp-action="SendEmail" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form>

<div class="mt-4">
    <p>Remembered your password? <a asp-action="SignUp" asp-controller="Account">Log in here</a>.</p>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}